<html>
<head>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="home()"><img
        src="https://i.postimg.cc/MZvrmCym/Screenshot-2-removebg-preview.png"
        height="55" width="55" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="home()">
              <fa-icon [icon]="faHouse"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="user()">
              <fa-icon [icon]="faUsers"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="protectora()">
              <fa-icon [icon]="faShieldDog"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <fa-icon [icon]="faComments"></fa-icon>
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" (click)="miperfil()">
            <fa-icon [icon]="faUserPen">
            </fa-icon>
          </button>
          <button type="button" class="btn btn-outline-primary shadow-none me-lg-3 me-2">
            <fa-icon [icon]="faDoorOpen">
            </fa-icon>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
<div class="container" style="margin-top: 25px;margin-left: 380px">
  <div class="row profile ng-scope">
    <div class="col-12">
    <div class="col-6">
      <section class="activities">
        <section class="event"><span class="thumb-sm avatar pull-left mr-sm"><img class="img-circle" src="{{datosPubli.user.imagen}}" alt="..."></span>
          <h4 class="event-heading"><a (click)="perfilUsuario(datosPubli.user.id)">{{datosPubli.user.nombre}} {{datosPubli.user.apellidos}}</a> <small> | @{{datosPubli.user.username}}</small></h4>
          <p class="fs-sm text-muted">{{datosPubli.fechaPu}}</p>
          <p class="fs-mini">{{datosPubli.cuerpo}}</p>
          <img style="max-width: 490px; max-height: 300px; text-align: center" src="{{datosPubli.imagen}}">
          <footer>
            <div class="clearfix">
              <ul class="post-links mt-sm pull-left">
                <li><a (click)="likes(datosPubli.id)"><span class="text-danger"><i class="fa fa-heart-o"></i> {{datosPubli.likes}}</span></a>
                </li>
              </ul>
            </div>
            <ul class="post-comments mt-sm">
              <li><span class="thumb-xs avatar pull-left mr-sm"></span>
                <form [formGroup]="crearComenForm" (ngSubmit)="saveComen(crearComenForm.value, datosPubli.id)">
                <div class="comment-body">
                  <input class="form-control input-sm col-12" type="text" ngModel formControlName="mensaje" id="mensaje" placeholder="Escribe tu comentario...">
                  <br>
                  <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 425px">Post</button>
                </div>
                </form>
              </li>
              <li *ngFor="let comentario of datosPubli.comentarios"><span class="thumb-xs avatar pull-left mr-sm"><img class="img-circle" src="{{comentario.user.imagen}}" alt="..."></span>
                <div class="comment-body" >
                  <h6 class="author fw-semi-bold" (click)="perfilUsuario(comentario.user.id)">@{{comentario.user.username}}<small> {{comentario.fechaCom}}</small></h6>
                  <p>{{comentario.mensaje}}</p>
                </div>
              </li>
            </ul>
          </footer>
        </section>
      </section>
    </div>
  </div>
</div>
</div>
</body>
