<html>
<head>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="ruta4()"><img
        src="https://i.postimg.cc/MZvrmCym/Screenshot-2-removebg-preview.png"
        height="55" width="55" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              <fa-icon [icon]="faHouse"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="ruta()">
              <fa-icon [icon]="faUsers"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="ruta2()">
              <fa-icon [icon]="faShieldDog"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <fa-icon [icon]="faComments"></fa-icon>
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-outline-primary shadow-none me-lg-3 me-2" (click)="crear()">
          <fa-icon [icon]="faPaperplane">
          </fa-icon>
        </button>

          <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2">
            <fa-icon [icon]="faUserPen">
            </fa-icon>
          </button>
          <button type="button" (click)="logout()" class="btn btn-outline-danger shadow-none me-lg-3 me-2">
            <fa-icon [icon]="faDoorOpen">
            </fa-icon>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container main-content">
  <div class="row">
    <div class="col profile-col">
      <div class="profile-header">
        <h3 class="profile-fullname"><a>Nombre</a> <a> Apellidos</a></h3>
        <h2 class="profile-element"><a>@username</a></h2>
        <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;Dirección</a>
      </div>
    </div>


    <div id="toda" class="col-6">
      <ol *ngFor="let publicaciones of publicacionesList" class="tweet-list">
        <li class="tweet-card">
          <div class="tweet-content">
            <a>
              <img class="tweet-card-avatar"
                   src="{{publicaciones.user.imagen}}">
            </a>
            <div class="tweet-header">
                <span class="fullname">
                  <br>
                  <strong (click)="perfilUsuario(publicaciones.user.id)">{{publicaciones.user.nombre}} {{publicaciones.user.apellidos}}</strong>
                </span>
              <span class="username"> @{{publicaciones.user.username}}</span>
              <span class="tweet-time"> {{publicaciones.fechaPu}}</span>
            </div>

            <div class="tweet-text">
              <br>
              <p class="" lang="es" data-aria-label-part="0" (click)="verPub(publicaciones.id)">{{publicaciones.cuerpo}}</p>
              <img style="width: 200px" src="{{publicaciones.imagen}}">
              <ul style="list-style-type: none;" *ngFor="let tags of publicaciones.tags">
                <li style="float: left; padding: 0 4px">
                  <button class="btn-follow"><strong>#</strong>{{tags.nombre}}</button>
                </li>
              </ul>
              <a (click)="verPub(publicaciones.id)">
              </a>
            </div>
            <br>
            <br>
            <div class="tweet-footer">
              <a class="tweet-footer-btn">
                <button type="submit" style="border: none; background: none" (click)="likes(publicaciones.id)"
                        class="octicon octicon-heart"
                        id="idPub"><span> {{publicaciones.likes}}</span></button>
              </a>
            </div>
          </div>
        </li>
      </ol>
    </div>


    <div id="buscada" class="col-6">
      <ol *ngFor="let publicaciones of publicacionListBuscados" class="tweet-list">
        <li class="tweet-card">
          <div class="tweet-content">
            <a>
              <img class="tweet-card-avatar" src="{{publicaciones.user.imagen}}">
            </a>
            <div class="tweet-header">
                <span class="fullname">
                  <br>
                  <strong>{{publicaciones.user.nombre}} {{publicaciones.user.apellidos}}</strong>
                </span>
              <span class="username"> @ {{publicaciones.user.nombre}}</span>
              <span class="tweet-time"> {{publicaciones.fechaPu}}</span>
            </div>
            <div class="tweet-text">
              <br>
              <p class="" lang="es" data-aria-label-part="0">{{publicaciones.cuerpo}} </p>
              <img style="width: 200px" src="{{publicaciones.imagen}}">
              <ul style="list-style-type: none;" *ngFor="let tag of publicaciones.tags">
                <li style="float: left; padding: 0 4px">
                  <button class="btn-follow"><strong>#</strong>{{tag.nombre}}</button>
                </li>
              </ul>
            </div>
            <br>
            <br>
            <div class="tweet-footer">
              <a class="tweet-footer-btn">
                <button type="submit" style="border: none; background: none"
                        class="octicon octicon-heart"
                        id=""><span>{{publicaciones.likes}}</span></button>
              </a>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="col right-col">
      <div class="content-panel">
        <div class="panel-header">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar Tags" aria-label="Search"
                   [(ngModel)]="termino" name="termino">
            <button (click)="guardarBusqueda()" class="btn btn-outline-success me-lg-5" type="submit">
              <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </button>
          </form>
        </div>
        <!-- Who to Follow panel -->
        <div class="panel-content">
          <br>
          <!--Follow list -->
          <ul class="tweet-list" style="list-style-type: none;" *ngFor="let tag of tagsList">
            <li style="float: left; padding: 0 4px">
              <button class="btn-follow"><strong>#</strong>{{tag.nombre}}</button>
            </li>
          </ul>
          <br>
          <br>
          <br>
          <br>
          <br>
          <!--END: Follow list -->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
