<html>
<head>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="ruta4()"><img
        src="https://i.postimg.cc/MZvrmCym/Screenshot-2-removebg-preview.png"
        height="55" width="55" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              <fa-icon [icon]="faHouse"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="ruta()">
              <fa-icon [icon]="faUsers"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="ruta2()">
              <fa-icon [icon]="faShieldDog"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <fa-icon [icon]="faComments"></fa-icon>
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2">
            <fa-icon [icon]="faUserPen">
            </fa-icon>
          </button>
          <button type="button" class="btn btn-outline-primary shadow-none me-lg-3 me-2">
            <fa-icon [icon]="faDoorOpen">
            </fa-icon>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container main-content">
  <div class="row">
    <div class="col profile-col">
      <div class="profile-header">
        <h3 class="profile-fullname"><a>Nombre</a> <a> Apellidos</a></h3>
        <h2 class="profile-element"><a>@username</a></h2>
        <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;Dirección</a>
      </div>
    </div>

    <div class="col-6">
      <ol *ngFor="let publicaciones of publicacionesList" class="tweet-list">
        <li class="tweet-card">
          <div class="tweet-content">
            <div class="tweet-header">
                <span class="fullname">
                  <strong>{{publicaciones.user.nombre}} {{publicaciones.user.apellidos}}</strong>
                </span>
              <span class="username"> @{{publicaciones.user.username}}</span>
              <span class="tweet-time"> {{publicaciones.fechaPu}}</span>
            </div>
            <a>
              <img class="tweet-card-avatar"
                   src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
            </a>
            <div class="tweet-text">
              <p class="" lang="es" data-aria-label-part="0">{{publicaciones.cuerpo}}
                <a href="" class="twitter-hashtag" dir="ltr"></a>
              </p>
            </div>
            <div class="tweet-footer">
              <a class="tweet-footer-btn">
                <i class="octicon octicon-comment" aria-hidden="true"></i><span> 18</span>
              </a>
              <a class="tweet-footer-btn">
                <button type="submit" style="border: none; background: none" (click)="likes(publicaciones.id)" class="octicon octicon-heart"
                        id="idPub"> <span> {{publicaciones.likes}}</span> </button>
              </a>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div class="col right-col">
      <div class="content-panel">
        <div class="panel-header">
          <h4>Who to follow</h4><small><a href="">Refresh</a></small><small><a href="">View all</a></small>
        </div>
        <!-- Who to Follow panel -->
        <div class="panel-content">
          <!--Follow list -->
          <ol class="tweet-list">
            <li class="tweet-card">
              <div class="tweet-content">
                <img class="tweet-card-avatar"
                     src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                <div class="tweet-header">
                    <span class="fullname">
                  <strong>Jon Vadillo</strong>
                </span>
                  <span class="username">@JonVadillo</span>
                </div>

                <button class="btn btn-follow">Follow</button>
              </div>
            </li>
            <li class="tweet-card">
              <div class="tweet-content">
                <img class="tweet-card-avatar"
                     src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                <div class="tweet-header">
                    <span class="fullname">
                  <strong>Jon Vadillo</strong>
                </span>
                  <span class="username">@JonVadillo</span>
                </div>

                <button class="btn btn-follow">Follow</button>
              </div>
            </li>
            <li class="tweet-card">
              <div class="tweet-content">
                <img class="tweet-card-avatar"
                     src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                <div class="tweet-header">
                    <span class="fullname">
                  <strong>Jon Vadillo</strong>
                </span>
                  <span class="username">@JonVadillo</span>
                </div>

                <button class="btn btn-follow">Follow</button>
              </div>
            </li>
          </ol>
          <!--END: Follow list -->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
