
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina principal</title>
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div class="contenedor">
  <div class="logo">
    <img src="img/logo.png" alt="">
  </div>
  <div class="info">
    <img src="https://i.postimg.cc/MZvrmCym/Screenshot-2-removebg-preview.png" alt="" class="logoAzul">
    <span class="titulo1">Conoce a tu nueva <br> familia</span>
    <span class="titulo2">Unete a E-PETS hoy mismo.</span>
    <br>

    <div class="boton">
      <img src="img/iconoGoogle.png" alt="">
      Registrarse como Usuario
    </div>
    <br>

    <div class="separador">
      <div class="linea"></div>
      <span class="texto">0</span>
      <div class="linea"></div>
    </div>
    <br>
    <a href="#" class="boton btnRegistrarse">Registrarse como Protectora</a>
    <br>
    <p>Al registrarse aceptas los <a href="#">Términos de servicios</a> y la <a href="#"> Política de Privacidad </a>,
      incluida la
      política de <a href="#">Uso de cookies</a></p>

    <span class="cuenta">
        Ya tienes cuenta
      </span>

    <a href="#" class="boton btnIniciar">Iniciar Sesión</a>
  </div>
</div>
</body>
